.nav {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index:9999;
}
.nav a{	
    cursor: pointer;   
}
.markt{
    cursor: pointer;
}
p {
    cursor:pointer;
}
audio {
    display:none;
}
